* {
  list-style: none;
  text-decoration: none;
  font-family: Arial;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #ffffff;
}
header {
  display: flex;
  height: 488px;
  background: linear-gradient(to right, #ff9074, #ff384c);
  border-bottom-left-radius: 75px;
}
.header-child {
  display: flex;
  background-image: url('images/bg-pattern-intro-desktop.svg');
  width: 100%;
  background-size: 230%;
  background-repeat: no-repeat; 
  background-position: calc(25% - 20px) calc(53% + 30px);
  flex-direction: column;
}
nav {
  position: fixed;
  width: 100%;
  transition: all .5s ease;
}

nav .icon img:last-child{
  display: none;
}
nav.sticky {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(to right, #ff9074, #ff384c);
  border-bottom-left-radius: 75px;
  .nav {
    padding: 30px 140px 20px 140px;
    transition: all .5s ease;
  
  }
}
.nav {
  display: flex;
  justify-content: center;
  height: 5vh;
  align-items: center;
  padding: 60px 140px;
}

.nav-list{
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  justify-content: space-between;
  width: 88%;
}
.nav-left {
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  align-items: center;
  text-align: center;
}
.nav-left ul:last-child{
  display: none;
}
nav li {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
.logo {
  font-size: 25px;
  font-weight: 900;
  margin-right: 40px;
  color: #fff;
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.icon{
  display: none;
}
nav .login-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
nav .signup-btn {
  color: #ff384c;
  background: #fff;
  width: 30px;
  height: 20px;
  padding: 10px 20px;
  border-radius: 40px;
  font-weight: 700;
}
.header-text {
  color: #fff;
  margin-top: 160px;
}
.header-text h1 {
  display: block;
  font-size: 45px;
  margin: 20px auto 20px auto;
  text-align: center;
  font-weight: 900;
}
.header-text p {
  display: block;
  font-size: 18px;
  margin: 15px auto 20px auto;
  text-align: center;
}
header .call-to-action {
  display: flex;
  margin: 0 auto 0 auto;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 250px;
  height: 100px;
}
header .call-to-action .btn1 {
  background-color: #fff;
  color: #fe6a5a;
  width: 104px;
  height: 20px;
  padding: 10px 10px;
  border-radius: 40px;
  font-weight: 700;
}
header .call-to-action .btn2 {
  background-color: transparent;
  color: #fff;
  width: 89px;
  height: 20px;
  padding: 10px 10px;
  border-radius: 40px;
  border: #fff solid 1.5px;
  font-weight: 700;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-top {
  height: 746px;
  display: flex;
  flex-direction: column;
}
.main-top .title {
  display: block;
  padding: 100px 0 35px 0;
  text-align: center;
  font-size: 25px;
  color: rgb(9, 63, 62);
}
.main-top .content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.main-top .text{
  display: flex;
  flex-direction: column;
}
.main-top .right-image{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.main-top img:last-child{
  display: none;
}
.main-top img{
  width: 100%;
  padding-left: 350px;
  margin-top: -90px;
}
.main-top .text1, .main-top .text2 {
  width: 460px;
  margin-left: 150px;
  justify-content: left;
}
.main-top .text1 h4, .main-top .text2 h4 {
  color: rgb(7, 63, 60);
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 1.4px;
}
.main-top .text1 {
  margin-bottom: 40px;
}
.main-top p {
  color: rgb(77, 76, 76);
  font-size: 14px;
  letter-spacing: 1.2px;
  text-align: justify;
  line-height: 1.5;
}
.main-middle {
  display: flex;
  flex-direction: row;
  background: #322f43fe;
  height: 345px;
  border-bottom-left-radius: 75px;
  border-top-right-radius: 75px;
  margin-top: 20px;
  background-image: url('images/bg-pattern-circles.svg');
  background-size: 68%;
  background-repeat: no-repeat; 
  background-position: calc(5% - 195px) calc(90% + 30px);
  padding: 0 100px 0 100px;
}
.main-middle-left img {
  height: 40vw;
  margin-top: -61px;
}
.main-middle-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  color: #e8e2e2;
  padding: 100px 50px;
}
.main-middle-right h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.main-middle-right p {
  font-size: 14px;
  letter-spacing: 1.2px;
  text-align: justify;
  line-height: 1.5;
}
.main-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 775px;
}
.main-bottom img:last-child{
  display: none;
}
.main-bottom .content{
  display: flex;
  flex-direction: row;
}
.main-bottom img{
  width: 700px;
  margin-top: 50px;
  margin-left: -200px;
}
.main-bottom .text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.main-bottom-first, .main-bottom-second {
  width: 55%;
  padding-right: 100px;
}
.main-bottom-first{
  margin-bottom: 40px;
}
.main-bottom-first h4, .main-bottom-second h4{
  letter-spacing: 2px;
  font-size: 19px;
  font-weight: 700;
  color: rgb(33, 32, 32);
}
.main-bottom-first p, .main-bottom-second p{
  letter-spacing: 1.2px;
  line-height: 1.5;
  text-align: justify;
  color: rgb(73, 72, 72);
}

footer{
  background:#1a1923fe;
  height: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 75px;
  color: #fff;
}

footer .footer-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer h5{
  font-size: 15px;
  margin-bottom: 15px;
}
footer a{
  font-size: 13px;
  color: #fff;
}
footer ul{
  list-style: none;
  display: block;
}

footer li{
  text-align: left;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1145px){
  body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
  .main-top img{
    width: 100%;
    padding-left: 380px;
    margin-top: -90px;
  }
  .main-top .text1, .main-top .text2 {
    width: 300px;
    margin-left: 150px;
    justify-content: left;
  }
  
}
@media only screen and (max-width: 1140px) {
  body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  .nav {
    padding: 60px 100px;
  }
}


@media only screen and (max-width: 1080px) {
  body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  nav.sticky {
    padding-top: 0px;
    padding-bottom: 0px;
    background: linear-gradient(to right, #ff9074, #ff384c);
    border-bottom-left-radius: 75px;
    .nav {
      padding: 30px 90px 20px 90px;
    }
  }
 
  .main-middle {
    padding: 0 30px;
  }
  .main-middle-left img {
    height: 87vh;
    margin-top: -61px;
  }
  .main-middle-right {
    width: 40%;
    padding: 60px 10px;
  }
  .main-middle-right h3 {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1.4px;
    margin-bottom: 15px;
  }
  .main-middle-right p {
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
  .main-top img{
    margin-left: 100px;
  }
  .icon{
    display: inline-block;
  }
 /* .nav-left ul{
    display: none;
  } */
  nav.sticky {
    padding-top: 0px;
    padding-bottom: 0px;
    background: linear-gradient(to right, #ff9074, #ff384c);
    border-bottom-left-radius: 75px;
    .nav {
      padding: 30px 70px 20px 70px;
    }
    .nav-left{
      position: absolute;
      top: 105px;
      right: -1000px;
    }
  }
  
 .nav {
    padding: 60px 70px;
    justify-content: center;
  }
  .nav-list{
    justify-content: right;
  }

  .nav-left{
    position: absolute;
    top: 105px;
    right: -1000px;
    width: 30%;
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    background: rgb(255, 255, 255, 0.9);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease;
    margin: auto;
    border-radius: 10px;
  }
  .nav-left ul{
    flex-direction: column;
  }
  .nav-left ul li{
    margin-bottom: 20px;
    color: black;
  }
  .nav-left ul:first-child{
    display: none;
  }
  .nav-left ul:last-child{
    display: flex;
  }
  .nav-right li img{
    color: black;
  }

  
  .header-text h1 {
    font-size: 35px;
    font-weight: 900;
  }
  .header-text p {
    font-size: 16px;
  }
  
  .main-bottom img{
    width: 450px;
    margin-top: 50px;
    margin-left: -130px;
  }
  .main-bottom-first, .main-bottom-second {
    width: 70%;
    padding-right: 70px;
  }
  .main-bottom-first h4, .main-bottom-second h4{
    letter-spacing: 1.5px;
    font-size: 18px;
    font-weight: 700;
  }
  .main-bottom-first p, .main-bottom-second p{
    letter-spacing: 1.1px;
    line-height: 1.2;
  }

  
  .main-top img{
    width: 100%;
    padding-left: 300px;
    margin-top: -90px;
  }
  .main-top .text1, .main-top .text2 {
    width: 300px;
    margin-left: 100px;
  }
  .main-top .text1 h4, .main-top .text2 h4 {
    font-size: 14px;
    margin-bottom: 20px;
    letter-spacing: 1.4px;
  }
  .main-top p {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.1;
  }

  .main-top{
    height: 85vh;
  }
}

@media only screen and (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    box-sizing: border-box;
  }


   nav.sticky {
    padding-top: 0px;
    padding-bottom: 0px;
    background: linear-gradient(to right, #ff9074, #ff384c);
    border-bottom-left-radius: 75px;
    .nav {
      padding: 30px 70px 20px 70px;
    }
    .nav-list{
      position: absolute;
      top: -1000px;
      right: 0px;
      left: 0;
      width: 90%;
      height: 82vh;
      display: flex;
      flex-direction: column;
      gap: 60px;
      justify-content: center;
      background: rgb(255, 255, 255, 0.9);
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
      transition: all 0.5s ease;
      margin: auto;
      border-radius: 10px;
    }

    .nav-left {
      position: static;
      top: auto;
      right: auto;
      width: 80%;
      height: 40%;
      display: block;
      text-align: center;
      justify-content: center;
      align-items: center;
      box-shadow: none;
      transition: none;
      margin: 0;
      border-radius: 0;
      background: none;
  }
  }
  
 .nav {
    padding: 60px 70px;
    justify-content: space-between;
  }
  .nav-list{
    flex-direction: column;
    justify-content: center;

  }
  .nav-list{
    position: absolute;
    top: -1000px;
    right: 0px;
    left: 0;
    width: 90%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    background: rgb(255, 255, 255, 0.9);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease;
    margin: auto;
    border-radius: 10px;
  }
  .nav-left ul{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .nav-left ul li{
  
   padding: 0;
   margin: 0;
  }
  .nav-left {
    position: static;
    top: auto;
    right: auto;
    width: 80%;
    height: 40%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    transition: none;
    margin: 0;
    border-radius: 0;
    background: none;
  
}
.nav-left li a{
  margin-bottom: 20px;
}
.nav-right{
  border-top: solid rgb(146, 142, 142) 1.5px ;
  width: 70%;
  justify-content: center;
  padding-top: 20px;
}
.nav-right ul{
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.nav-right li{
  margin: 0;
}
.nav-right .login-btn{
  color: black;
}

.nav-right .signup-btn{
  background: linear-gradient(to right, #ff9074, #ff384c);
  color: white;
}
  .header-text h1 {
    font-size: 24px;
    font-weight: 800;
  }
  .header-text p {
    font-size: 14px;
  }
  
  .main-bottom img{
    width: 400px;
    margin-top: 50px;
    margin-left: -130px;
  }
  .main-bottom-first, .main-bottom-second {
    width: 80%;
    padding-right: 50px;
  }
  .main-bottom-first h4, .main-bottom-second h4{
    letter-spacing: 1.3px;
    font-size: 16px;
    font-weight: 700;
  }
  .main-bottom-first p, .main-bottom-second p{
    letter-spacing: 1.0px;
    line-height: 1.1;
    font-size: 12px;
  }
  .main-top img{
    width: 100%;
    padding-left: 100px;
    margin-top: -90px;
  }
  .main-middle {
    background-size: 68%;
    background-repeat: no-repeat; 
    background-position: calc(30% - 195px) calc(125% + 30px);
    padding: 0 60px;
  }
  .main-middle-left img {
    height: 87vh;
    margin-top: -61px;
    margin-left: -60px;
  }
  .main-middle-right {
    width: 70%;
    padding: 100px 0px;
  }
  .main-middle-right h3 {
    font-size: 15px;
    letter-spacing: 1.0px;
  
  }
  .main-middle-right p {
    font-size: 10px;
    letter-spacing: 1.1px;
    line-height: 1.0;
    font-weight: 200;
  }
}
@media only screen and (max-width: 650px) {
  body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  .main-top {
    height: 210vh;
    display: flex;
    flex-direction: column;
  }
  .main-top .title {

    color: rgb(9, 63, 62);
  }
  .main-top .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .main-top .right-image{
    display: flex;
    text-align: center;
  }
  .main-top img:first-child{
    display: none;
  }
  .main-top img:last-child{
    display: flex;
  }
  .main-top img{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .main-top .text1, .main-top .text2 {
    width: 380px;
    margin-left: 0px;
  }
  .main-top .text1 h4, .main-top .text2 h4 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 1.4px;
  }
  .main-top .text1 {
    margin-bottom: 40px;
  }
  .main-top p {
    color: rgb(77, 76, 76);
    font-size: 14px;
    letter-spacing: 1.2px;
    text-align: justify;
    line-height: 1.5;
  }
  .main-middle {
    flex-direction: column;
    height: 100vh;
    margin: 0;
    gap: 40px;
    background-image: url('images/bg-pattern-circles.svg');
    background-size: 155%;
    background-position: calc(26% - 40px) calc(70% - 100px);
    padding: 0 100px 0 100px;
    justify-content: center;
    align-items: center;
  }
  .main-middle-left img {
    height: 84vw;
    margin-left: 55px;
    margin-top: -280px;
  }
.main-middle-right {
    display: flex;
    width: 330px;
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
    
  }
  .main-middle-right h3 {
    font-size: 25px;
    letter-spacing: 1.5px;
    margin-bottom: 25px;
    padding: 0;
  }
  .main-middle-right p {
    font-size: 16px;
    letter-spacing: 1.4px;
    line-height: 1.4;
    padding: -0;
  }
  .main-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 150vh;
    margin: 0;
    padding: 0;
  }
  
  .main-bottom img:first-child{
    display: none;
  }
  .main-bottom img:last-child{
    display: inline-block;
  }
  .main-bottom .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .main-bottom img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .main-bottom .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }
  .main-bottom-first, .main-bottom-second {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 0;
  }
  .main-bottom-first{
    margin-bottom: 40px;
    padding: 0;
  }
  .main-bottom-second{
    padding: 0;
  }
  .main-bottom-first h4, .main-bottom-second h4{
    letter-spacing: 2px;
    font-size: 19px;
    font-weight: 700;
    color: rgb(33, 32, 32);
  }
  .main-bottom-first p, .main-bottom-second p{
    letter-spacing: 1.2px;
    line-height: 1.5;
    text-align: justify;
    color: rgb(73, 72, 72);
  }

  footer{
    height: 125vh;
    flex-direction: column;
    padding-top: 40px;
  }
  
  footer .footer-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  footer h5{
    font-size: 16px;
    margin-bottom: 15px;
  }
  footer a{
    font-size: 13px;
    color: #fff;
  }
  footer ul{
    list-style: none;
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
  footer .logo{
    margin-bottom: 50px;
  }
  footer li{
    text-align: left;
    margin-bottom: 10px;
    text-align: center;
  }
  footer h5{
    margin-bottom: 25px;
  }
  footer h5:last-child{
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 570px) {
  header {
    background: linear-gradient(to bottom, #ff9074, #ff384c);
    border-bottom-left-radius: 100px;
    overflow: hidden;
  }
  .header-child {
    display: flex;
    background-image: url('images/bg-pattern-intro-mobile.svg');
    width: 100%;
    background-size: 270%;
    background-repeat: no-repeat; 
    overflow: hidden;
    background-position: calc(30% - 20px) calc(53% + 90px);
    flex-direction: column;
  }
  nav.sticky {
    padding-top: 0px;
    padding-bottom: 0px;
    background: linear-gradient(to right, #ff9074, #ff384c);
    border-bottom-left-radius: 75px;
    .nav {
      padding: 30px 30px 20px 30px;
    }
  }
  .nav {
    padding: 60px 30px 100px 30px;
  }
  .main-middle {
    background-position: calc(26% - 40px) calc(75% - 140px);
  }
.main-middle-left img{
  margin-top: -800px;
  padding-top: 0;;
}
  .main-top {
    height: 1100px;
    display: flex;
    flex-direction: column;
  }
  .main-bottom{
    height: 800px;
  }
  .main-middle-right{
    width: 280px;
  
  }

  }
@media only screen and (max-width: 470px) {
  .main-middle {
    background-position: calc(26% - 40px) calc(70% - 180px);
  }
}

@media only screen and (max-width: 400px) {
  .main-top .text1, .main-top .text2 {
    width: 300px;
  }
  .main-middle {
    background-position: calc(26% - 40px) calc(70% - 210px);
  }
}

.attribution { 
  font-size: calc(.2rem + 2vmin);
  right: 5vh;
  bottom: 2vh;
  position: absolute;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
.attribution a { 
  color: hsl(228, 35%, 66%); 
}
